/*table.bulk-content-analysis.ok {display:none;}*/
table caption {font-size:16px;}
.bulk-content-analysis .icon {display:block;height:16px;line-height:16px;text-indent: -9999px;width:16px;}
.bulk-content-analysis .icon.ok {background-image: url('../images/message-16-ok.png');}
.bulk-content-analysis .icon.info {background-image: url('../images/message-16-info.png');}
.bulk-content-analysis .icon.warning {background-image: url('../images/message-16-warning.png');}
.bulk-content-analysis .icon.error {background-image: url('../images/message-16-error.png');}